<!DOCTYPE html>
<html lang="ja">
<head>
  <meta charset="UTF-8">
  <title>Access Analysis Result</title>
  <!-- Bootstrap CDN -->
  <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous" >
</head>
<body>
<!-- ヘッダー -->
<header>
  <nav class="navbar navbar-expand-lg sticky-top nabvar-dark bg-dark">
    <h1 class="navbar-brand text-white m-1 p-2 font-weight-bold">
      JCW Access Log Analysis
    </h1>
  </nav>
</header>

<!-- コンテンツ -->
<main class="container-fluid">
  <div class="row">
    <!-- サイドバー -->
    <nav class="sidebar col-md-3 col-lg-2 d-md-block bg-light collapse border-right">
      <div class="sidebar-sticky pt-3">
        <h5 class="sidebar-heading font-weight-bold my-3">アクセスログ解析</h5>
        <ul class="nav flex-column">
          <li class="nav-item">
            <a id="AllAccessLink" class="nav-link text-body h6" href="#">
              すべてのアクセス
            </a>
          </li>
          <li class="nav-item">
            <a id="CreateAccessLink" class="nav-link text-body h6" href="#">
              PDF作成
            </a>
          </li>
          <li class="nav-item">
            <a id="DownloadAccessLink" class="nav-link text-body h6" href="#">
              ダウンロード
            </a>
          </li>
        </ul>
      </div>
    </nav>

    <!-- すべてのアクセス -->
    <main id="AllAccess" class="col-md-9 ml-sm-auto col-lg-10 px-md-4">
      <div class="m-3 border-bottom">
        <h1 class="h2 py-2 font-weight-bold">アクセスログ解析: すべてのアクセス</h1>
      </div>
      <div class="m-3">
        <!-- 総アクセス数分析 -->
        <h5 class="font-weight-bold">総アクセス数分析</h5>
        <table class="table table-hover table-sm mt-3">
          <thead>
            <tr>
              <th>機能種別</th>
              <th>アクセス数</th>
              <th>ユーザ数</th>
            </tr>
          </thead>
          <tbody>
            <tr>
              <th>メイン画面</th>
              <td>{{ all.main_page.access_count }}</td>
              <td>{{ all.main_page.user_count }}</td>
            </tr>
            <tr>
              <th>PDF作成</th>
              <td>{{ all.create_page.access_count }}</td>
              <td>{{ all.create_page.user_count }}</td>
            </tr>
            <tr>
              <th>ダウンロード</th>
              <td>{{ all.download_page.access_count }}</td>
              <td>{{ all.download_page.user_count }}</td>
            </tr>
            <tr>
              <th>合計</th>
              <td>{{ all.all_page.access_count }}</td>
              <td>{{ all.all_page.user_count }}</td>
            </tr>
          </tbody>
        </table>

        <!-- 日別アクセス数分析 -->
        <h5 class="font-weight-bold">日別アクセス数分析</h5>
        <canvas id="DailyAccessChart"></canvas>
      </div>
    </main>

    <!-- PDF作成アクセス -->
    <main id="CreateAccess" class="col-md-9 ml-sm-auto col-lg-10 px-md-4" hidden>
      <div class="m-3 border-bottom">
        <h1 class="h2 py-2 font-weight-bold">アクセスログ解析: PDF作成</h1>
      </div>
      <div class="m-3">
        <!-- 作成PDF文字列 -->
        <h5 class="font-weight-bold">作成PDF文字列</h5>
        <div class="table-responsive overflow-auto mb-3 border-bottom border-top" style="height:300px">
          <table class="table table-sm table-bordered mt-4">
            <tbody>
              {% for row in create.texts %}
              <tr>
                {% for cell in row %}
                <td width="25%">{{ cell }}</td>
                {% endfor %}
              </tr>
              {% endfor %}
            </tbody>
          </table>
        </div>

        <!-- レイアウト集計 -->
        <h5 class="font-weight-bold">レイアウト集計</h5>
        <table class="table table-sm table-bordered mt-4">
          <thead>
            <tr>
              <th>方向</th>
              <th>small</th>
              <th>middle</th>
              <th>large</th>
            </tr>
          </thead>
          <tbody>
            {% for direction, d in create.layouts.items() %}
            <tr>
              <th>{{ direction }}</th>
              {% for size, count in d.items() %}
              <td>{{ count }}</td>
              {% endfor %}
            </tr>
            {% endfor %}
          </tbody>
        </table>
      </div>
    </main>

    <!-- ダウンロード -->
    <main id="DownloadAccess" class="col-md-9 ml-sm-auto col-lg-10 px-md-4" hidden>
      <div class="m-3 border-bottom">
        <h1 class="h2 py-2 font-weight-bold">アクセスログ解析: ダウンロード</h1>
      </div>
      <div class="m-3">
        <!-- ファイルごとの集計 -->
        <h5 class="font-weight-bold">ファイルごとの集計</h5>
        <table class="table table-hover mt-3">
          <thead>
            <tr>
              <th>ファイル名</th>
              <th>ダウンロード数</th>
            </tr>
          </thead>
          <tbody>
            {% for file, count in download.file_count.items() %}
            <tr>
              <th>{{ file }}</th>
              <td>{{ count }}</td>
            </tr>
            {% endfor %}
          </tbody>
        </table>
      </div>
    </main>
  </div>
</main>

<!-- Chart.js -->
<script src="https://cdnjs.cloudflare.com/ajax/libs/Chart.js/2.7.2/Chart.bundle.js"></script>
<script>
  var ctx = document.getElementById("DailyAccessChart");
  var dailyAccessChart = new Chart(ctx, {
    type: 'line',
    data: {
      labels: {{ all.days }},
      datasets: [
        {
          label: '総アクセス',
          data: {{ all.daily_all_access }},
          borderColor: "rgba(255,0,0,1)",
          backgroundColor: "rgba(0,0,0,0)"
        },
        {
          label: 'PDF作成',
          data: {{ all.daily_create_access }},
          borderColor: "rgba(0,0,255,1)",
          backgroundColor: "rgba(0,0,0,0)"
        },
        {
          label: 'ダウンロード',
          data: {{ all.daily_download_access }},
          borderColor: "rgba(0,255,0,1)",
          backgroundColor: "rgba(0,0,0,0)"
        }
      ],
    },
    options: {
      title: {
        display: true,
        text: '日別アクセス数',
        position: 'bottom'
      },
      scales: {
        yAxes: [{
          ticks: {
            suggestedMax: 1600,
            suggestedMin: 0,
            stepSize: 200,
            callback: function(value, index, values){
              return  value +  'アクセス'
            }
          }
        }]
      },
    }
  });
</script>
<script>
  document.addEventListener('DOMContentLoaded', function() {

    console.log('DOMContentLoaded');

    // リンクをそれぞれ取得
    var allAccessLink = document.getElementById('AllAccessLink');
    var createAccessLink = document.getElementById('CreateAccessLink');
    var downloadAccessLink = document.getElementById('DownloadAccessLink');

    // clickイベントをセット
    allAccessLink.addEventListener('click', function(e){
      console.log('allAccess');
      e.preventDefault();
      // 可視性を変更
      document.getElementById('AllAccess').hidden = false;
      document.getElementById('CreateAccess').hidden = true;
      document.getElementById('DownloadAccess').hidden = true;
    }, false);
    createAccessLink.addEventListener('click', function(e){
      console.log('createAccess');
      e.preventDefault();
      // 可視性を変更
      document.getElementById('AllAccess').hidden = true;
      document.getElementById('CreateAccess').hidden = false;
      document.getElementById('DownloadAccess').hidden = true;
    }, false);
    downloadAccessLink.addEventListener('click', function(e){
      console.log('downloadAccess');
      e.preventDefault();
      // 可視性を変更
      document.getElementById('AllAccess').hidden = true;
      document.getElementById('CreateAccess').hidden = true;
      document.getElementById('DownloadAccess').hidden = false;
    }, false);
  })
</script>
<!-- jQuery for Bootstrap -->
<script src="https://code.jquery.com/jquery-3.3.1.slim.min.js" integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo" crossorigin="anonymous"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js" integrity="sha384-UO2eT0CpHqdSJQ6hJty5KVphtPhzWj9WO1clHTMGa3JDZwrnQq4sF86dIHNDz0W1" crossorigin="anonymous"></script>
<script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js" integrity="sha384-JjSmVgyd0p3pXB1rRibZUAYoIIy6OrQ6VrjIEaFf/nJGzIxFDsf4x0xIM+B07jRM" crossorigin="anonymous"></script>
</body>
</html>
