{% extends "layout.html" %}
{% block content %}
<!-- 説明 -->
<h5 class="text-center my-4">
  JapaneseLearnersFontを使った日本語練習帳を出力するサイトのデモです。
</h5>

<!-- PDF作成フォーム -->
<div class="card bg-light border-dark">
  <div class="card-body">
    <h4 class="card-title p-3">PDF作成</h4>
    <p class="card-subtitle text-muted mb-3 px-3">下記に入力した文字で練習帳を作成します。</p>
    <form method="get" action="{{ url_for('create') }}">
      <div class="form-group px-3">
        <label class="control-label ">入力欄</label>
        <input class="form-control" type="text" name="text" placeholder="例: リオネルメッシ">
      </div>
      {% if error %}
      <div class="alert alert-danger mx-3" role="alert" id="error_for_text">{{ error }}</div>
      {% endif %}
      <div class="form-group px-3">
        <div class="row">
          <div class="form-check form-check-inline col-8">
            <label class="control-label col-3 my-1">フォントサイズ:</label>
            <div class="col-3">
              <input class="form-check-input" type="radio" name="font-size" id="small-size" value="small" checked>
              <label class="form-check-label" for="small-size">
                small(50px)
              </label>
            </div>
            <div class="col-3">
              <input class="form-check-input" type="radio" name="font-size" id="middle-size" value="middle">
              <label class="form-check-label" for="middle-size">
                middle(60px)
              </label>
            </div>
            <div class="col-3">
              <input class="form-check-input" type="radio" name="font-size" id="large-size" value="large">
              <label class="form-check-label" for="large-size">
                large(80px)
              </label>
            </div>
          </div>
        </div>
        <div class="row">
          <div class="form-check form-check-inline col-6">
            <label class="control-label col-4 my-1">PDFの向き:</label>
            <div class="col-3">
              <input class="form-check-input" type="checkbox" name="horizontal" id="horizontal" value="true">
              <label class="form-check-label" for="horizontal">
                横書き
              </label>
            </div>
          </div>
        </div>
      </div>
      <div class="form-row text-center">
        <div class="col-12">
          <button class="btn btn-primary" type="submit" id="download">ダウンロード</button>
        </div>
      </div>
    </form>
  </div>
</div>

<!-- 教材ダウンロード -->
<div class="card bg-light border-dark mt-4 mb-4">
  <div class="card-body">
    <h4 class="card-title p-3">教材ダウンロード</h4>
    <ul>
      {% for workbook in workbooks %}
      <li><a href="{{ url_for('download') + '?key=' + workbook.key }}">{{ workbook.name }}</a></li>
      {% endfor %}
    </ul>
  </div>
</div>
<script>
  (function(){
    // ダウンロードボタンにイベントハンドラを追加
    let download = document.getElementById("download");
    download.addEventListener("click", function() {

      // ダウンロード時にエラーメッセージを消すようにする
      var error = document.getElementById("error_for_text");

      if (error) {
        error.style.display = "none"
      }
    });
  })();
</script>
{% endblock %}
